<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Aqua Cycle</title>
  </head>
  <body id="page-top">
    <!-- Navigation-->
    <nav>
      <div>
        <div>
          <h1>Go to<br /></h1>
          <h2>
            <b>
              <a href="/db/sensor">sensor DB 조회</a><br />
              <a href="/db/fish">fish DB 조회</a><br />
              <a href="/db/plant">plant DB 조회</a><br />
              <a href="/db/user">user DB 조회</a><br />
              <a href="/db/add">DB에 센서 저장하기</a>
            </b>
          </h2>
        </div>
      </div>
    </nav>
  </body>
</html>
